<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>colorconfigurator</name>
    <displayName><![CDATA[Theme color configurator]]></displayName>
    <version><![CDATA[2.0.2]]></version>
    <description><![CDATA[Theme color configurator]]></description>
    <author><![CDATA[Prestapro]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>