.block_newsletter{
    .alert {
        animation: alert 1s;
        animation-timing-function: ease-in-out;
        animation-delay: 3s;
        animation-fill-mode: forwards;
        transition: transform 2s ease-in 0s;
        height: 60px;
        padding-top: 18px;
        width: 100%;
    }
}
@keyframes alert {
    from {
        transform: translateY(0)
    }
    to {
        transform: translateY(-100%)
    }
}
