<li class="nav-item">
    <a class="nav-link" id="rcgtmTrackingTab" data-toggle="tab" href="#rcgtmTrackingTabContent" role="tab" aria-controls="rcgtmTrackingTabContent" aria-expanded="true" aria-selected="false">
        <i class="material-icons">equalizer</i> {{'Tracking Status'|trans({}, 'Modules.Rc_Pgtagmanager.Admin')}}
        <span class="js-rcgtm-icon-status badge rounded badge-dark">
            <span class="js-spinner spinner" style="width: 14px;height: 14px;"></span>
            <i class="material-icons" style="font-size: 16px;" hidden></i>
        </span>
    </a>
</li>