<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>fontellico</name>
    <displayName><![CDATA[Fontellico]]></displayName>
    <version><![CDATA[1.1.0]]></version>
    <description><![CDATA[Fontello icons]]></description>
    <author><![CDATA[Andrey]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>