.product-actions {
    .add{

    }
    .add-to-cart {
        line-height: inherit;
        padding: 9.5px 20px 9.5px;
        .material-icons {
            line-height: inherit;
        }
    }
}